/* Class names prefixes */
$prefix: 'gjs-' !default;

#page-name {
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
}

.#{$prefix}templates {
    position: absolute;
    top: 41px;
    left: 0;
    width: 100%;
    max-height: calc(100vh - 70px);
    border-radius: 5px;
    z-index: 4;
}

.#{$prefix}templates-overlay {
    position: absolute;
    pointer-events: none;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.05);
}

.#{$prefix}templates-header {
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    margin-bottom: 10px;
}

.#{$prefix}templates-cont {
    margin: 2% 9% 0 9%;

    .#{$prefix}fonts {
        margin-bottom: 5px;
    }

    .#{$prefix}field {
        width: 75%;
        display: inline-block;
    }

    span {
        display: inline-block;
    }
}

.#{$prefix}field-label {
    font-size: 0.9rem;
    font-family: Arial, Helvetica, sans-serif;
    display: block;
}

#templates-tab {
    position: absolute;
    top: 25px;
    right: 90px;
}

.#{$prefix}btn-wide {
    padding: 10px;
    border-radius: 3px;
    font-size: 0.9rem;
    margin-left: 10px;
}

.#{$prefix}templates-font {
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    margin-bottom: 10px;
}

.#{$prefix}thumbnail-cont {
    display: flex;
    height: 219px;
    overflow: hidden;
}

.#{$prefix}templates-card {
    width: 31.85%;
    height: 0;
    padding-bottom: 32%;
    margin-left: 8.2px;
    margin-top: 8.2px;
    margin-bottom: 8.2px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.24);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    background-color: rgba(255, 255, 255, 0.03);

    svg.template-preview {
        margin: 2px;
        background-color: white;
        border: 1px solid white;
        border-radius: 2px;
    }

    img.template-preview {
        align-self: center;
        margin: 2px;
        background-color: white;
        border: 1px solid white;
        border-radius: 2px;
        width: 99%;
    }

    div.label {
        position: relative;
        border-top: 1px solid rgba(0, 0, 0, 0.2);
        max-width: 100%;
        font-size: 0.95rem;
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
        font-weight: lighter;
        padding: 10px;

        i:first-of-type {
            position: absolute;
            right: 35px;
            color: rgb(130, 196, 216);
        }

        i {
            position: absolute;
            right: 10px;
            bottom: 10px;
            color: rgb(216, 130, 130);
            background-color: rgba(0, 0, 0, 0.1);
            border: 1px solid rgba(0, 0, 0, 0.2);
            border-radius: 2px;
            padding: 3px;
            cursor: pointer;
        }

        .#{$prefix}field {
            position: absolute;
            left: 10px;
            bottom: 8px;
            border: 1px solid rgba(0, 0, 0, 0.2);
        }
    }

    &:hover {
        box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    }

    &-active {
        box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
        border: 2px solid rgba(100, 160, 255, 0.5);
    }
}

.#{$prefix}thumb-select {
    cursor: pointer;

    &:hover {
        filter: grayscale(1);
    }
}

.#{$prefix}templates-card-2 {
    display: flex;
    flex-wrap: wrap;
    min-height: 200px;
    max-height: calc(100vh - 195px);
    overflow-y: auto;
    margin-top: 1px;
    margin-bottom: 25px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.35);
    background-color: rgba(0, 0, 0, 0.25);
    /*box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);*/

    &::-webkit-scrollbar {
        width: 8px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: rgba(255, 255, 255, 0.2);
    }

    &::-webkit-scrollbar-track {
        background: rgba(0, 0, 0, 0.1);
    }
}

.#{$prefix}mdl-dialog-tml {
    max-width: 1000px;
    margin-top: 45px;
}

.#{$prefix}tip-about {
    padding: 10px;
    font-size: .9rem;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-left: 3px solid #8888da;
    background-color: rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
}

.#{$prefix}tab {
    overflow: hidden;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    margin-bottom: 10px;

    button {
        background-color: inherit;
        color: inherit;
        float: left;
        border: 1px solid rgba(0, 0, 0, 0.1);
        outline: none;
        cursor: pointer;
        padding: 14px 16px;
        transition: .3s;

        &:hover {
            background-color: rgba(0, 0, 0, 0.1);
        }

        &.active {
            background-color: rgba(0, 0, 0, 0.2);
        }
    }
}

.pages-tab,
.templates-tab {
    animation: fadein 1s;
}

.lds-ellipsis {
    display: inline-block;
    width: 80px;
    height: 80px;
}

.lds-ellipsis div {
    position: absolute;
    top: 80px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #fff;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
    left: 46%;
    animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
    left: 46%;
    animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
    left: 48%;
    animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
    left: 50%;
    animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes lds-ellipsis3 {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(0);
    }
}

@keyframes lds-ellipsis2 {
    0% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(24px, 0);
    }
}

@keyframes fadein {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}